* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: beige;
  display: flex;
  justify-content: center;
}
.container {
  background: linear-gradient(#67b26f, #4ca2cd);
  width: 30%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.title {
  width: 100%;
  height: 10vh;
  font-size: 25px;
  font-weight: 500;
  color: white;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  width: 100%;
  height: 55vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  margin: 0;
}
.contents li {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents span:last-child {
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer form input {
  width: 100%;
  height: 50%;
}
